---
import { useStoryblokApi, storyblokEditable } from "@storyblok/astro";
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: "draft",
});
const story = data.story;
---

<div {...storyblokEditable(story)}>
    { JSON.stringify(storyblokEditable(story)) }
</div>
