---
import { useStoryblokApi, type SbBlokData } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from '../layouts/Layout.astro'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories', {
  version: 'draft',
})

const story = data.story
---

<Layout title={story.name}>
  <div class="text-white max-w-6xl mx-auto">
    { story.map((blok: SbBlokData) =>  <StoryblokComponent blok={blok} />)}
  </div>
</Layout>