---
import { useStoryblokApi, type ISbRichtext } from '@storyblok/astro'
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";
import Layout from '../layouts/Layout.astro'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/home', {
  version: 'draft',
})

interface Block {
  Content: ISbRichtext | undefined
}

const story = data.story
const body: Block[] = story.content.body
---

<Layout title={story.name}>
  <div class="text-white max-w-6xl mx-auto">
    { body.map((blok) =>  <RichTextRenderer richTextData={blok.Content} />)}
  </div>
</Layout>